---
database_admin_user: "db-admin-user-name"
database_admin_pass: "db-admin-user-pass"

svn_path: "/var/sites/usvn/src/files/"
svn_passwd: "/var/sites/usvn/src/files/htpasswd"
svn_authz: "/var/sites/usvn/src/files/authz"

ssl_certificate_file: "/path/to/crt/file"
ssl_certificate_key_file: "/path/to/key/file"
