<VirtualHost *:80>

        ServerAdmin ikeda@guildstudio.co.jp

        DocumentRoot /var/sites/usvn/src/public

        Timeout 300
        KeepAlive On
        KeepAliveTimeout 20
        MaxKeepAliveRequests 250
        LimitRequestBody 0
        LimitXMLRequestBody 0
        RequestReadTimeout header=0 body=0

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Directory /var/sites/usvn/src/public>

                Options +SymLinksIfOwnerMatch
                AllowOverride All
                Require all granted

        </Directory>

        <Location /svn/>

                ErrorDocument 404 default
                DAV svn
                Require valid-user
                SVNParentPath {{ svn_path }}/svn
                SVNListParentPath off
                AuthType Basic
                AuthName "USVN"
                AuthUserFile {{ svn_passwd }}
                AuthzSVNAccessFile {{ svn_authz }}

        </Location>
</VirtualHost>
